<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924949443656-f69qsvcdblim5uv5a9eijrjckldt2vm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924949443656-f69qsvcdblim5uv5a9eijrjckldt2vm0</string>
	<key>API_KEY</key>
	<string>AIzaSyDZnR5U1MSTE0UHxk7y0rufbYfT_XIOSY0</string>
	<key>GCM_SENDER_ID</key>
	<string>924949443656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.janpalen.First-aid-app</string>
	<key>PROJECT_ID</key>
	<string>pkmapp-d1111</string>
	<key>STORAGE_BUCKET</key>
	<string>pkmapp-d1111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924949443656:ios:f7d1047f54982dac02947d</string>
</dict>
</plist>